@import "tailwindcss";

:root {
  --background: #FFFCF0;
  --foreground: #100F0F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF0;
    --foreground: #100F0F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter';
  position: relative;
}

